NEXT_PUBLIC_APIKEY=<apikey>
NEXT_PUBLIC_AUTHDOMAIN=<authdomain>
NEXT_PUBLIC_PROJECTID=<projectid>
NEXT_PUBLIC_STORAGEBUCKET=<storagebucket>
NEXT_PUBLIC_MESSAGINGSENDERID=<messagingsenderid>
NEXT_PUBLIC_APPID=<appid>